@font-face {
  font-family:Ashbury;
  src: url(fonts/AshburyLig.woff);
}

@font-face {
  font-family: Sina;
  src: url(fonts/SinaReg.woff);
}

@font-face {
  font-family:PlayfairReg;
  src: url(fonts/PlayfairDisplay-Regular.woff);
}

@font-face {
  font-family:PlayfairItal;
  src: url(fonts/PlayfairDisplay-Italic.woff);
}

@font-face {
  font-family:HavanaRound;
  src: url(fonts/Havana-Rounded.woff);
}

@font-face {
  font-family:MontserratBlack;
  src: url(fonts/Montserrat-Black.woff);
}


@font-face {
  font-family: RobotoReg;
  src: url(fonts/RobotoMono-Regular.woff);
}

@font-face {
  font-family: RobotoThin;
  src: url(fonts/RobotoMono-Thin.woff);
}

@font-face {
  font-family: ColdiacI;
  src: url(fonts/Coldiac-Italic.woff);
}

@font-face {
  font-family: Coldiac;
  src: url(fonts/Coldiac_1.woff);
}

@font-face {
  font-family: FuturaBook;
  src: Futura-Book-font.woff;
}

@font-face {
font-family:Calafia;
src:Calafia-Regular.woff;
           }

@font-face {
font-family:Hand;
src:url(fonts/Handletter.woff);
                      }

@font-face {
font-family:FuturaMed;
src:url(fonts/Futura-Book-font.woff);
}

@font-face {
font-family:FuturaHeavy;
src:url(fonts/futura-medium-bt.woff);
}

@font-face {
font-family:Stoked;
src:url(fonts/stoked.woff);
}

@font-face {
font-family: Atreyu;
src:url(fonts/Atreyu.woff);
}

@font-face {
font-family: Viner;
src:url(fonts/vineritc.woff);
}
