h6{color:#b83b5e; font-family:FuturaMed; font-size:24px}
h1{color:#f08a5d; font-family:Hand; font-size:170px;}
h2{color:#6a2c70; font-family:Stoked; font-size:45px;}
h3{color:#b83b5e; font-family:Hand; font-size:45px;}
h5{color:#b83b5e; font-family:FuturaMed; font-size:20px;}
h6{color:#b83b5e; font-family:FuturaHeavy; font-size:20px;}
li{color:#FFFFFF; font-family:Hand;font-size: 20px;}
p {color:#6a2c70; font-family:FuturaMed;}
td{color:#6a2c70; font-family:FuturaMed;}
a {color:inherit; font-family:FuturaMed; text-decoration: none;}
